---
layout: default
title: Sin Sopheak
---
<!--
<header class="page-header header container-fluid">
    <div class="overlay">
        <div class="description">
            <h1 id="simpleUsage"></h1>
            <div class="socialmedia">
                <a href="https://www.linkedin.com/in/sinsopheak/" class="fa fa-linkedin" title="Connect on LinkedIn"
                    target="_blank"></a>
            <a href="https://stackoverflow.com/users/8292463/sin-sopheak" title="View StackExchange Profile"
                class="fa fa-stack-exchange" target="_blank"></a>
                <a href="https://bitbucket.org/%7B3b71a5a0-d0de-49df-aba5-d0c111573f15%7D/" class="fa fa-bitbucket"
                    title="View Bitbucket Repositories" target="_blank"></a>
                <a href="https://www.youtube.com/channel/UCKSYfD_21432PDzRRPnmTUQ" class="fa fa-youtube"
                    title="Visit Youtube Channel" target="_blank"></a>
            </div>
        </div>
    </div>
</header>
-->
<div class="container-fluid fill-screen custom-color d-flex flex-column about-page">
    <div class="row flex-fill d-flex">
        <div class="col-lg-5 col-md-5 col-sm-12 my-auto">
            <h1>Hello.</h1>
            <p><em>I'm Sopheak, a senior Salesforce developer and an engineering graduate from Institute of Technology of Cambodia. I love tech and creating stuff!</em></p>

            <div class="desktop-only">
                <a href="https://www.linkedin.com/in/sinsopheak/" class="fa fa-linkedin" title="Connect on LinkedIn"
                    target="_blank"></a>
                <a href="https://stackoverflow.com/users/8292463/sin-sopheak" title="View StackExchange Profile"
                    class="fa fa-stack-exchange" target="_blank"></a>
                <a href="https://bitbucket.org/%7B3b71a5a0-d0de-49df-aba5-d0c111573f15%7D/" class="fa fa-bitbucket"
                    title="View Bitbucket Repositories" target="_blank"></a>
                <a href="https://www.youtube.com/channel/UCKSYfD_21432PDzRRPnmTUQ" class="fa fa-youtube"
                    title="Visit Youtube Channel" target="_blank"></a>
            </div>

        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 my-auto">
            <img class="img-fluid" src="/assets/images/wordcloud.png" alt="">

            <div class="mobile-only">
                <a href="https://www.linkedin.com/in/sinsopheak/" class="fa fa-linkedin" title="Connect on LinkedIn"
                    target="_blank"></a>
                <a href="https://stackoverflow.com/users/8292463/sin-sopheak" title="View StackExchange Profile"
                    class="fa fa-stack-exchange" target="_blank"></a>
                <a href="https://bitbucket.org/%7B3b71a5a0-d0de-49df-aba5-d0c111573f15%7D/" class="fa fa-bitbucket"
                    title="View Bitbucket Repositories" target="_blank"></a>
                <a href="https://www.youtube.com/channel/UCKSYfD_21432PDzRRPnmTUQ" class="fa fa-youtube"
                    title="Visit Youtube Channel" target="_blank"></a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid color-dark2">
    <div class="row flex-fill d-flex">
        <div class="col-lg-7 col-md-7 col-sm-12 my-auto home-exp">
            <span>What have I done?</span>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 my-auto">
            {% include timeline.html %}
        </div>
    </div>
</div>

<!-- {% include latest-posts.html %} -->

{% include subscribe.html %}