---
layout: default
title: Sin Sopheak
---
<div class="container-fluid fill-screen custom-color d-flex flex-column about-page padding-bottom-lg">
    <div class="row flex-fill d-flex">
        <div class="col-lg-12 col-md-12 col-sm-12 my-auto text-center">
            <h1>hello, world!</h1>
            <p class="thicker">I'm Sopheak and I solve puzzels for a living; Well kinda.</p>
            <div class="desktop-only">
                <a href="https://www.linkedin.com/in/sinsopheak/" class="fa fa-linkedin" title="Connect on LinkedIn"
                    target="_blank"></a>
                <a href="https://trailblazer.me/id/sinsopheak" class="fa fa-user-circle" title="View Salesforce Trailhead profile" 
                    target="_blank"></a>
                <a href="/contact" class="fa fa-commenting" title="Get in touch"></a>
                <a href="https://www.instagram.com/sinspheak/" class="fa fa-instagram" title="Explore my photography!" 
                    target="_blank"></a>
            </div>

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 my-auto text-center">
            <!--<img class="img-fluid" src="/assets/images/wordcloudLatest.png" alt="">-->

            <div class="mobile-only">
                <a href="https://www.linkedin.com/in/sinsopheak/" class="fa fa-linkedin" title="Connect on LinkedIn"
                    target="_blank"></a>
                <a href="https://trailblazer.me/id/sinsopheak" class="fa fa-user-circle" title="View Salesforce Trailhead profile"
                    target="_blank"></a>
                <a href="/contact" class="fa fa-commenting" title="Get in touch"></a>
                <a href="https://www.instagram.com/sinspheak/" class="fa fa-instagram" title="Explore my photography!" 
                    target="_blank"></a>
            </div>
        </div>
    </div>
</div>

<div class="row content-padding">
    <div class="col-lg-4 col-md-4 col-sm-12 padding-none">
      <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-4 padding-none">
                    <img src="/assets/images/adevinta.jpg" width="100%" alt="Card image cap">
                </div>
                <div class="col-8 padding-none">
                    <h3 class="card-title"><b>What do I do?</b></h3>
              <p class="card-text">Senior Salesforce Service Cloud Engineer, Adevinta.</p>
              <p class="card-text">Amsterdam, Netherlands.</p>
                </div>
            </div>
            
          
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 padding-none">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 padding-none">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
  </div>


<!--
<div class="container-fluid color-dark2">
    <div class="row flex-fill d-flex">
        <div class="col-lg-12 col-md-12 col-sm-12 home-exp">
            <span>What do I do?</span>
            <p>View full experiences and skills on <a target="_blank" href="https://www.linkedin.com/in/sinsopheak/">LinkedIn</a>
         </div>
    </div>
    <div class="row flex-fill d-flex">
        <div class="col-lg-5 col-md-5 col-sm-12 my-auto padding-bottom">
            {% include timeline.html %}
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 home-exp">
            {% include image-gallery.html %}
        </div>
    </div>
</div>
-->