<div id="cookie-notice" class="cookie-notice-container">
    <span>Cookies is used to improve the functionality and experience of this website.
    </span>
    <a id="cookie-notice-accept" class="btn btn-primary btn-sm">Accept All Cookies</a>
    <a href="/privacy" class="btn btn-info btn-sm">Learn More</a>
    <a id="cookie-notice-decline" class="btn btn-danger btn-sm">Decline</a>
</div>

<script>
    function createCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }

    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

    function eraseCookie(name) {
        createCookie(name, "", -1);
    }

    if (readCookie('cookie-notice-dismissed') == 'true') {
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-ES729SNFTE', { 'anonymize_ip': true });
    } else {
        document.getElementById('cookie-notice').style.display = 'block';
    }

    document.getElementById('cookie-notice-accept').addEventListener("click", function () {
        createCookie('cookie-notice-dismissed', 'true', 31);
        document.getElementById('cookie-notice').style.display = 'none';
        location.reload();
    });

    document.getElementById('cookie-notice-decline').addEventListener("click", function () {
        createCookie('cookie-notice-dismissed', 'false', 31);
        document.getElementById('cookie-notice').style.display = 'none';
    });

    document.getElementById('show_cookie_preferences').addEventListener("click", function () {
        console.log('hello');
        document.getElementById('cookie-notice').style.display = 'block';
    });

</script>
