<footer class="page-footer font-small custom-footer">
    <div class="container-fluid text-center">
        <ul class="list-inline">
            {% for item in site.data.footer-navigation %}
                <li class="list-inline-item {% if item.link == page.url %}active{% endif %}">
                    {% if item.type == "idOnly" %}
                        <a id="{{ item.id }}">{{ item.name }}</a>
                    {% else %}
                        <a href="{{ item.link }}">{{ item.name }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <p>© 2022, <a href="./">sinsopheak.com</a>. All rights reserved.</p>
    </div>
</footer>