<div class="container-fluid features">
    <h2 class="feature-header text-center">Latest Blog Posts</h2>
    <div class="row justify-content-center">

{% for post in site.posts %}
<div class="col-lg-4 col-md-4 col-sm-12 px-4">
    <a href="{{ post.url }}"><h5 class="feature-title">{{ post.title }}</h5></a>
    <p class="feature-footer">{{ post.category }} | 5 min read</p>
    <img class="img-fluid rounded" src="{{ post.thumbnail }}" alt="">
    <p class="feature-desc">{{ post.excerpt }}</p>

</div>

{% endfor %}

        
    </div>
</div>