<div class="row padding-none text-center padding-large">
    <div class="col-12">
        <h1>What I've worked on.</h1>
    </div>
</div>
<div class="row padding-none text-center padding-large background-3">
    <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="/assets/images/servicec-cloud.png" width="100%" alt="Card image">
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12">
        <p class="title-xl">Salesforce Service Cloud</p>
        <h3><b>Developing effective and scalable CRM system offering various customer support channels including Web and Email-to-Case, live chat, and API integrations.</b></h3>

    </div>

</div>
<div class="row padding-none">
    <div class="col-lg-6 col-md-6 col-sm-12 background-dark text-white my-auto">
      <div class="card background-dark">
        <div class="card-body">
            <div class="row h-100">
                <div class="col-sm-12 col-md-4 col-lg-4 padding-left-none my-auto">
                    <img src="/assets/images/bot.png" width="100%" alt="Card image cap">
                    </div>
                <div class="col-sm-12 col-md-8 col-lg-8 my-auto">
                    <div class="desktop-only">
                        <p class="card-text">Automated UI and API functionality testing using<br/><a class="link-white title-xxl" href="https://www.provartesting.com/">Provar</a></p>
              <p class="card-text">
                <span>Combined with advanced customisations of</span>
                <h1>XPath, Selenium, and Java.</h1>
            </p>
                    </div>
                    <div class="mobile-only text-center my-auto">
                        <p class="card-text">Automated UI and API functionality testing using<br/><a class="link-white title-xxl" href="https://www.provartesting.com/">Provar</a></p>
              <p class="card-text">
                <span>Combined with advanced customisations of</span>
                <h1>XPath, Selenium, and Java.</h1>
            </p>
                        </div>
                </div>
            </div>
        </div>
      </div>
    </div>


    <div class="col-lg-6 col-md-6 col-sm-12 text-center my-auto">
        <div>
            <img src="/assets/images/salesforce-community-rbg.png" width="30%" alt="Card image cap">
        </div>
        <div>
            <h3>Building feature-rich <b>Help and Information</b> centres.</h3>
            <p>Integrated with Knowldege base, support channels, and analytic services.</p>
        </div>
      </div>
    </div>



    <div class="row padding-none">
        <div class="col-lg-6 col-md-6 col-sm-12 background-4">
          <div class="card background-4">
            <div class="card-body">
                <h1><b>System Integrations</b></h1>
                <div class="padding-top-medium text-center">
                    <img src="/assets/images/Salesforce.com_logo.svg.png" width="30%" alt="Card image cap">
                    <img src="/assets/images/analytics.png" width="30%" alt="Card image cap">
                    <img src="/assets/images/gcp.png" width="30%" alt="Card image cap">
                </div>
                <div class="padding-top-medium">
                    <i class="fa fa-phone" aria-hidden="true"></i> Computer-telephony integration (CTI) systems
                </div>
                <div>
                    <i class="fa fa-comments-o" aria-hidden="true"></i> External live chat and chat bot services
                </div>
                <div>
                    <i class="fa fa-globe" aria-hidden="true"></i> Online classified advertising platforms
                </div>
            </div>
                </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 background-5 text-white">
            <div class="card background-5">
              <div class="card-body">
                  <div class="row h-100">
                      <div class="col-sm-12 col-md-8 col-lg-8 my-auto">
                          <div class=" text-center">
                              <p class="card-text"><span class="title-xl">Security</span> <b>ambassador.</b></p>
                              <span>Organise, Conduct, Inform</span>
                              <p class="card-text padding-top-medium">
                        
                      <h4>Threat Modelling</h4>
                      <h4>Penetration testing</h4>
                      <h4>Information Security</h4>
                      <h4>Guidlines and Policies</h4>
                  </p>
                              </div>
                      </div>

                      <div class="col-sm-12 col-md-4 col-lg-4 padding-left-none text-center my-auto">
                        <img class="desktop-only" src="/assets/images/key-removebg.png" width="100%" alt="Card image cap">
                        <img class="mobile-only img-small" src="/assets/images/key-removebg.png" alt="Card image cap">
                        </div>
                  </div>
              </div>
            </div>
          </div>
        </div>