<div class="row padding-none">
    <div class="col-lg-6 col-md-6 col-sm-12 background-dark text-white">
      <div class="card background-dark">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4 padding-left-none">
                    <img src="/assets/images/bot.png" width="100%" alt="Card image cap">
                    </div>
                <div class="col-sm-12 col-md-8 col-lg-8">
                    <div class="desktop-only">
                        <p class="card-text">Automated UI and API functionality testing using<br/><a class="link-white title-xxl" href="https://www.provartesting.com/">Provar</a></p>
              <p class="card-text">
                <span>Combined with advanced customisations of</span>
                <h1>XPath, Selenium, and Java.</h1>
            </p>
                    </div>
                    <div class="mobile-only text-center">
                        <p class="card-text">Automated UI and API functionality testing using<br/><a class="link-white title-xxl" href="https://www.provartesting.com/">Provar</a></p>
              <p class="card-text">
                <span>Combined with advanced customisations of</span>
                <h1>XPath, Selenium, and Java.</h1>
            </p>
                        </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    </div>