<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<div class="container-fluid custom-color py-5 text-center">
    <a id="subscribeForm"></a>
    <h3>Subscribe</h3>
    <p>Stay updated on the latest blog posts and other new features and annoucements on the site.</p>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-4 col-sm-12 px-4">
            <form action="https://outlook.us20.list-manage.com/subscribe/post?u=83f5eb19425a749f86a4acd83&amp;id=dd952677e1"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                class="justify-content-center validate" target="_blank" novalidate>
                <div class="mc-field-group mb-3">
                    <input type="email" name="EMAIL" id="mce-EMAIL" class="form-control" placeholder="you@example.com" required>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                        name="b_83f5eb19425a749f86a4acd83_dd952677e1" tabindex="-1" value=""></div>
                <button type="submit" name="subscribe" class="btn btn-primary mb-2 ml-1">Subscribe</button>
            
            </form>
            
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
        </div>
        </div>


   
   
</div>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script
    type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; fnames[5] = 'BIRTHDAY'; ftypes[5] = 'birthday'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
