<div class="container-fluid custom-color py-5">
    <h3 class="text-center">Subscribe</h3>
    <p class="text-center">Get new posts delivered right to your inbox.</p>
    
    <form class="form-inline justify-content-center" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow"
    onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=Sinsopheak', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
        <div class="form-group mr-2">
            <input type="email" name="email" class="form-control" id="email" placeholder="you@example.com" required>
        </div>
        <input type="hidden" value="Sinsopheak" name="uri" /><input type="hidden" name="loc" value="en_US" />
        <button type="submit" class="btn btn-primary">Subscribe</button>
    </form>
</div>