body {
    padding: 0;
    margin: 0;
    position: relative;
    background-color: rgba(122, 122, 122, 0.05);
}

.nav-link, .navbar-brand {
    color:  #dcdcdc;
    cursor: pointer;
}

.custom-footer a {
  cursor: pointer;
  color: #000;
}

.content-padding {
  padding: 0px 20px;
}

.row .card {
  border: none;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
}

.padding-top-medium {
  padding-top: 40px;
}

.padding-medium {
  padding-left: 23px;
  padding-right: 23px;
}

.padding-none, .overlay-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.padding-left-none {
  padding-left: 0px;
  padding-right: 1px;
}

.padding-left-medium {
  padding-left: 10px;
}

.navbar {
    padding: 2px 0px 4px 25px;
    background-color: rgba(17, 16, 16, 0.98);
    width: 100%;
}

.navbar-sticky {
    position: fixed;
    top: 0;
    z-index: 100;
}

.navbar-brand {
    letter-spacing: 5px;
}

.nav-link {
    margin-right: 1em !important;
}
  
.navbar-brand:hover, .nav-link:hover {
    color: #fff;
}

.custom-footer a:hover {
    color: #000;
}
  
.navbar-collapse {
    justify-content: flex-end;
}

  /*--- first header ---*/
.header {
    background-image: url('/assets/images/mobile.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
}

.header-contact {
   background-image: url('/assets/images/contact1.jpg') !important;
}

.header-blog {
  background-image: url('/assets/images/notebook-731212_1920.jpg') !important;
}

.description {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -55%);
    text-align: center;
}

html {
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
}

.arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

@keyframes glowing {
  0% { box-shadow: 0 0 -50px #c4a300; }
  40% { box-shadow: 0 0 70px #c4a300; }
  60% { box-shadow: 0 0 70px #c4a300; }
  100% { box-shadow: 0 0 -50px #c4a300; }
}

.icon-glow {
  animation: glowing 5000ms infinite;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.form-button {
  left: 50%;
  top: 95%;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -55%);
  width: 50px;
  height: 30px;
}

.form-button p {
  color: #fff;
}

.custom-container {
    margin: 0;
    padding: 4em 4em;
    position: relative; 
}

  .features{
    margin: 0;
    padding: 2em 2em;
    position: relative; 
  }

  .features div {
    padding-bottom: 5px;
  }

  .fill-screen {
    padding-top: 3em;
    padding-left: 4em;
    padding-right: 4em;
  }

  .full-screen {
    width: 70%;
  }

  .light-brown  {
    background-color: rgba(255,197,129,0.11);
  }

  .features a {
    color: #000;
  }

  .thanks {
    background-color: rgba(255,197,129,0.11) !important;
    background-image: none !important;
  }

  .thanks .description h1 {
    font-weight: 700;
    margin-top: 20px;
  }

  .list-group-item {
    background-color: transparent;
  }

  .list-group-item a {
    text-decoration: none !important;
  }

  list-group-item a:hover {
    font-weight: normal !important;
  }

  .description span {
      font-size: 25px;
      color: #fff;
  }

  .thanks .description h1, .thanks .description p {
    color: #000;
  }

  .feature-title {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .feature-desc {
      margin-bottom: 20px;
      margin-top: 7px;
  }
  .feature-footer {
      color: #606060;
      font-size: 0.95rem;
  }
  .feature-header {
    font-weight: 700;
    margin-bottom: 30px;
  }

  .card a  {
    padding: 0;
    color: rgb(71, 70, 70);
  }

  .card a .fa:hover {
    color: #000;
    opacity: 1;
  }

  .card-img-overlay a {
    color: #fff;
    font-weight: 505;
  }

  .card-img-overlay a:hover {
    color: #fff !important;
    text-decoration: underline !important;
  }

  .card-title {
    font-weight: bold;
  }

  .card-text .fa {
    padding-left: 0;
    margin-left: 0;
  } 

.padding-right-xs {
  padding-right: 2px;
}

  .card-text a:hover {
    opacity: 1;
    color: #000;
    text-decoration: none;
  }

  .background-1 {
    background-color: #fff;
  }

  .background-2 {
    background-color: rgb(252, 237, 237);
  }

  .card-img {
    opacity: 0.1;
    width: 100%;
  }

    .fa {
    padding: 10px;
    font-size:15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
      text-decoration: none;
      color: #fff;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: #fff;
  }

  .fa-commenting {
    background: #53D4DF;
    color: #fff;
  }
  
  .fa-youtube {
    background: #f73c3c;
    color: #fff;
  }

  .fa-instagram {
    background: #fe5ab7;
    color: #fff;
  }
 
  .fa-rss {
    background: #ff6600;
    color: #fff;
  }

  .fa-stack-exchange {
    background: #53D4DF;
    color: #fff;
  }

  .fa-bitbucket {
    background: #F06595;
    color: #fff;
  }

  .fa-user-circle {
    background-color: #92c371;
    color: #fff;
  }

  
  hr {
    border-top: 1px solid rgba(96, 96, 96, 0.30);
    width: 90%;
    margin: 1em 0em;
  }

  .bottom {
       margin-right: auto;
   margin-left: auto;
  }

  .custom-container h2 {
    font-weight: 700;
  }

  .custom-container ul {
    padding-left: 1.3em;
  }

  .icon-list { 
    margin-top: 20px;
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -55%);
    text-align: center;
  }

  .icon-list img {
    width: 20%;
  }

  .socialmedia {
      margin-top: 120px;
      
  }

  .icon-list .icon-content {
    margin-top: 20px;
  }

  .custom-color {
    background-color: rgba(122, 122, 122, 0.05);
  }

  .custom-footer {
    color: #7a7a7a;
    padding-top: 15px;
    padding-bottom: 5px;
    background-color: rgba(122, 122, 122, 0.05);
  }

  .overlay{
 position: absolute;
 min-height: 100%;
 min-width: 100%;
 left: 0;
 top: 0;
 background: rgba(0, 0, 0, 0.7);
}

.description h1, .description p {
  color: #fff;
}

.description p {
  margin-top: 15px;
}

.description p a {
  color: #fff;
  text-decoration: underline;
}

.description p a:hover {
  font-weight: bold;
}

.contact-form input, .contact-form textarea {
    border: 0 !important;
    outline: 0 !important;
    background: transparent !important;
    border-bottom: 1.5px solid gray !important;
    border-radius: 0 !important;
}

.mc-field-group input {
  text-align: center;
}

.contact-form button {
  margin-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
}

.thanks .img-fluid {
  width: 20%; 
}

.active {
  font-weight: bold;
}

.flex-fill {
    flex:1;
}

.validate {
  color: #bb0000;
  font-size: 14px;
}

.about-page {
  padding: 90px 90px 40px 90px;
}

.below-nav {
  padding-top: 80px !important;
}

.about-page h1 {
  font-size: 4em;
  font-weight: 700;
}

div .post-content p {
  line-height: 1.8em;
  font-size: 1.1em;
  font-family: Arial, Helvetica, sans-serif;
}

div .post-content {
  padding-top: 30px;
}

.post-page {
  padding-top: 40px;
}

.privacy-page {
  padding: 80px 30px 20px;
  max-width: 100%;
}

.privacy-page h3 {
  font-weight: 700;
}

.privacy-page h5 {
  padding-top: 1em;
}

.privacy-page h5, .privacy-page h6 {
  font-weight: bold;
  padding-bottom: 0.2em;
}

.color-dark2 {
  background-color: #f2f2f2;  
}

//Timeline
.timeline {
  position: relative;
}

.timeline, .timeline > * {
  box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 1.75em;
  margin-left: 0px;
}

/* Container around content */
.timeline-container {
  padding: 11px 40px;
  position: relative;
  background-color: inherit;
}

/* The circles on the timeline */
.timeline-container::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  right: -17px;
  background-color: #cdcbcb;
  border: 4px solid #FFF;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the right */
.right {
  left: 0%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: 1.3em;
}

/* The actual content */
.timeline-content {
  padding: 1px 15px;
  padding-right: 0;
  position: relative;
}

.timeline-content span {
  display: block;
}

.timeline-content p {
  color: #616161;
  font-size: .9em;
}

.badge {
  display: inline-block !important;
  background-color: #007bb5;
  color: #fff;
}

.timeline-content .date {
  font-weight: bold;
}

.mobile-only {
  display: none;
}

.home-exp span {
  font-size: 25px;
  display: block;
}

.home-exp {
  padding-left: 40px;
  padding-top: 15px;
}

.home-exp a, home-exp:visited {
  color: #000;
  text-decoration: underline;
}

.home-exp a:hover {
  font-weight: bold;
}

.small-nav-title {
    font-size: 10px;
    letter-spacing: 1px;
  }

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  .timeline {
    max-width: 100%;
  }

  .card-text {
    margin-bottom: 0;
  }

  .overlay-padding {
    padding-left: 15px;
    padding-right: 15px;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
    padding-top: 13px;
    padding-bottom: 13px;
    margin: auto;
    width: 100%;
    text-align: center;
  }

  .about-page {
    padding: 60px 20px 10px 20px;
  }

  .logo-padding {
    padding-left: 0px;
    padding-right: 0px;
  }

  .navbar-toggler {
    padding-right: 20px;
  }

  .padding-bottom {
    padding-bottom: 15px !important;
  }

  .home-exp {
    padding-left: 20px;
  } 

  .home-exp span {
    font-size: 20px;
  }

/* Place the timelime to the left */
  .timeline::after {
    left: 8px;
  }

/* Full-width containers */
  .timeline-container {
    width: 100%;
    padding-left: 20px;
  }

/* Make sure that all arrows are pointing leftwards */
  .timeline-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 1px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }

  .home-exp {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  div.gallery {
    margin: auto !important;
  }
}

/* Cert gallery */
div.gallery {
  margin-left: 15px;
  margin-right: 5px;
  margin-bottom: 10px;
  float: left;
  width: 200px;
}

div.gallery img {
  width: 100%;
  height: 280px;
  border: 1px solid #007bb5
}

.thicker {
  font-weight: 520;
}

div.desc {
  padding: 15px;
  text-align: center;
}